.answer.card
  .card-bord
    .card-name
      i.fa.fa-user-circle(aria-hidden='true')
      | #[a(href=`/users/${answer.author.id}`)= answer.author.name]
    .card-body
      .content= answer.content
  .row.card-body
    .col-sm
    .col-sm.text-right
      .author
        | registered on #{moment(answer.createdAt).format('YYYY-MM-DD')}