extends ../layout

block content
  .container
    h1.main-title 비밀번호 재설정
    form(action='/confirmId', method='POST')
      label(for='id_Confirmation') Id Confirmation
                input.form-control(type='text', id='id_Confirmation', name='email', placeholder='id_Confirmation')  
      button.btn.btn-primary(type='submit') Update
