extends ../layout

block content
  .container
    h1.main-title Profile Update
    form(action='/updatePassword', method='POST')
      .form-group
        label(for='email') Email address
        input.form-control(type='email', id='email', name='email', placeholder='Email', value=email readonly)
     
      .form-group
        label(for='reset_password') Reset Password
        input.form-control(type='password', id='password', name='password', placeholder='Password')
      .form-group
        label(for='reset_password_confirmation') Reset Password Confirmation
        input.form-control(type='password', id='password_confirmation', name='password_confirmation', placeholder='Password Confirmation')
      a.btn.btn-outline-secondary(href='javascript:window.history.back();') Back 
      | 
      button.btn.btn-primary(type='submit') Update
